// ====================================================
//   Depth
// ====================================================

.depth-0  { z-index:   -1; }
.depth-1  { z-index:  100; }
.depth-2  { z-index:  200; }
.depth-3  { z-index:  300; }
.depth-4  { z-index:  400; }
.depth-5  { z-index:  500; }
.depth-6  { z-index:  600; }
.depth-7  { z-index:  700; }
.depth-8  { z-index:  800; }
.depth-9  { z-index:  900; }
.depth-10 { z-index: 1000; }
