//====================================================
//  Reset - customized version from Basscss v7.0.0
//====================================================

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

body { margin: 0 }
img  { width: 100% }
svg  { max-height: 100% }
