$sidebar-width: 300px !default;

.sidebar {
  width: $sidebar-width;
  @include medium {
    width: 100%;
    height: auto;
  }
}

// If sidebar exists,
// offset <main> by it's width
.sidebar + main {
  margin-left: $sidebar-width;
  @include medium {
    margin-left: 0;
  }
}

.sidebar.fixed,
.sidebar.absolute, {
  @include medium {
    position: static;
  }
}
